/* CSS Variable */
:root{
  --pozadie: #ddd;
  --pismo : #111;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
html{
  height: 100%;
  width: 100%;
}

body{
  color:#fff;
  font: 20px Montserrat, Georgia, serif;
  font-weight: bold;
  background: #f7f6d3;
  padding:1em;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "hd hd"
                       "sidebar main"
                       "footer footer";
}
header{
  grid-area: hd;
}
aside{
  grid-area: sidebar;
  height: 100vh;

}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
}
body,a{
  color:#fff;

}
ul{
  list-style: none;
  padding-left: 0;
}
article,header,aside,footer{
  padding: 1.2em;
  background: #3b9ae1;
  border-radius: .5em;
  margin: 5px;
}

article { background: #e64134;}
aside { background: #eb70b1;}
footer { background: #0f1a5f;}


@media (max-width:800px){
  body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "hd hd"
                         "sidebar sidebar"
                         "main main"
                         "footer footer";
  }
}




}
